header {
    margin-top: 5px;
    height: 14vh;

    display: flex;
    flex-direction: row;
    align-items: center;

    /* Avoid selection in header */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    z-index: 999;
}

.name {
    font-family: 'Orbitron';

    writing-mode: vertical-lr;
    font-size: 4.5vh;
    transform: rotate(180deg);
}

.header-container {
    height: 100%;
    width: 60%;

    display: flex;
    flex-direction: row;
    align-items: center;

    border-right: -20px solid #333;
    background-color: var(--message-frame);
    border: solid 1px var(--accent);
    border-radius: 0 10px 10px 0;

    overflow: hidden;
}

.logo {
    height: 100%;
}


/* Header Items */
.header-items {
    width: fit-content;

    display: block;
    justify-content: space-around;
    align-items: center;

    border-radius: 10px;
    margin-left: 10px;
    padding: 0;
}

.header-item {
    display: inline;
    padding: 5px;
}

.item-logo {
    display: none;
    height: 4vh;
    border-radius: 50%;
}


/* Hover Thingys */
.header-item:hover {
    display: block;
    width: 98%;

    background-color: var(--accent);
    border-radius: 10px;
    color: azure;
}

.header-item:hover .item-logo {
    display: block;
}

.header-items:hover .header-item:not(:hover) {
    font-size: small;
    opacity: 0.7;
}

.header-items:hover{
    width: 100%;
    transition: 0s;
}

/* Click effect */
.link-button {
    position: relative;
    top: 0px;
}
.link-button:active {
    top: 5px;
}