@font-face {
    font-family: 'Orbitron';
    src: url('../src/font/Orbitron.ttf');
}

@font-face {
    font-family: 'Oxigen';
    src: url('../src/font/Oxygen-Regular.ttf');
}

:root {
    --accent: #bd62c9;
    --background: #28222a;
    --font-color: #ecfffe;
    --message-bg: rgba(34, 34, 34, 0.795);
    --message-frame: rgb(27, 27, 27);
}


* {
    color: azure;

    font-size: large;
    text-decoration: none;

    box-sizing: border-box;

    transition: ease-out .1s;
}

body {
    font-family: 'Oxigen', sans-serif;
    background: var(--background);

    margin: 0;
    padding: 0;
}

#bg {
    opacity: 0.5;
    filter: blur(5px);
    position: fixed;
    justify-self: center;
    top: -5%;
    right: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.title {
    width: fit-content;

    font-family: 'Orbitron';
    font-size: 3rem;
} 

.pad10 {
    padding: 10px;
}


/* Fancy Stuff */
.typewriter {
    overflow: hidden;
    border-right: .15em solid azure;
    white-space: nowrap;
    letter-spacing: .15em;
    animation: 
      typewriter 2s steps(35, end),
      blink-caret .75s step-end infinite;
}

/* Animation */
@keyframes typewriter {
    from { width: 0 }
    to { width: min-content }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 255, 255); }
  }

@media screen and (orientation:portrait) {
    .typewriter {
        animation: 
          typewriter 1.5s steps(40, end),
          blink-caret .75s step-end infinite;
    }
}